<div class="container">
  <div class="card  mt-3 p-3">
    <h2><%= @cocktail.name %></h2>
    <div style="text-align: center;"><%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %></div>
  </div>
  <div class="card mt-3 p-3">
    <h3>Ingredients</h3>
  <ul class="list-group">
    <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item d-flex justify-content-between">
        <div>
        <%= dose.description %>
        <%= dose.ingredient.name %>
        </div>
        <div>
        <%= link_to dose_path(dose),
                      method: :delete,
                      data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  </div>
</div>

<div class="container d-flex justify-content-around mt-3">
  <%= link_to 'Edit name or image', edit_cocktail_path(@cocktail), class: "btn btn-primary" %>

  <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
</div>
